@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.AboutUsPage {
    background-color: #ffffff;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about img {
    width: 100%;
    object-fit: contain;
    height: 200px;

}

.about .card {
    width: 100%;
    max-width: 540px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.about .card .list-group-flush {
    text-align: center;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

.photo {
    justify-content: center;
    display: flex;
}

.marquee {
    font-size: 6rem;
    font-weight: bold;
    color: #000000;
    padding: 10px 0;
}