@import url();

.TrackDetailsPage {
    padding: 3.8rem;
}

.Card {
    margin-bottom: 20px;
}

.Card .Card-Img {
    width: 100%;
    height: auto;
}

.Card .Card-Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.Button {
    flex-grow: 1;
}

.TrackCardBlock {
    margin: 100px;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin-bottom: 1rem;
}

.CommentList li {
    background-color: rgba(0, 0, 0, 0.054);
    margin: 20px
}

.CommentList button {
    background-color: rgb(255, 0, 0);
    margin: 10px
}

.btn,
.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;

}

:root {

    --bs-border-radius-sm: 0;
}