@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.AllTracksPage {
    background-color: #ffffff;
    color: white;
    padding-top: 4rem;
    padding-bottom: 50px;
}

.TrackCard {
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.TrackCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 #000dff50;
}

.TrackCard:hover div {
    backdrop-filter: blur(12px);
    background-color: #000dff50 !important;
}

.TrackCard img {
    width: 100%;
    display: block;
    height: auto;

}

.TrackCard div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    background-color: #000dffc3 !important;
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
}

.blue-btn,
.grey-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #000dff;
    color: white;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s;
}

.grey-btn {
    background-color: #ccc;
}

.blue-btn:hover,
.grey-btn:hover {
    background-color: #000dff;
}

element.style {
    --play: running;
    --direction: normal;
    --duration: 147.367998046875s;
    --delay: 0s;
    --iteration-count: infinite;
}

.marquee {
    font-size: 6rem;
    font-family: "Anton",
        sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 1.15rem 0rem;
}