.AllTracksPage {
    background-color: #ffffff;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.TrackCard {
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.TrackCard:hover {
    transform: scale(1.05);
}

.TrackCard img {
    width: 100%;
    display: block;
    height: auto;
}

.TrackCard div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
}

.pink-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF2D55;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.rosa-btn:hover {
    background-color: #FF577F;
}