@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    padding-top: 0rem !important;
}

.coverImage {
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-top: 0;
    vertical-align: top;
    z-index: 1;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: left;
}

h2 {
    font-size: 10vw;
    color: rgb(0, 0, 0);
    margin: 0;
}

.textOverlay span {
    font-family: "Sixtyfour", sans-serif;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.textOverlay h4 {
    font-size: .5em;
}

.HomePageBlockone span {
    font-family: "Poppins", sans-serif;

}

.HomePageBlockone {
    position: relative;
    width: 100%;
}

.blueOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 21, 255);
    opacity: 0.;
    z-index: 2;
    transition: opacity 1s ease;
    pointer-events: none;
}

.blueOverlay.hovered {
    opacity: 0;
    background-color: transparent;
}

.textOverlayBlockone {
    color: white;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textOverlayBlockone h2 {
    color: white;
}

.HomePageBlockTwo {
    position: relative;
    width: 100%;
}

.blueOverlayTwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 21, 255);
    opacity: 0.;
    z-index: 2;
    transition: opacity 1s ease;
    pointer-events: none;
}

.blueOverlayTwo.hovered {
    opacity: 0;
    background-color: transparent;
}

.textOverlayBlockTwo {
    color: white;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textOverlayBlockTwo h2 {
    color: white;
}


/* BACKGROUND ARTISTA THREE */
.HomePageBlockThree {
    position: relative;
    width: 100%;
}

.blueOverlayThree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 21, 255);
    opacity: 0.;
    z-index: 2;
    transition: opacity 1s ease;
    pointer-events: none;
}

.blueOverlayThree.hovered {
    opacity: 0;
    background-color: transparent;
}

.textOverlayBlockThree {
    color: white;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textOverlayBlockThree h2 {
    color: white;
}

.marquee-container {
    position: relative;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carousel-container {
    position: relative;
    width: 100vw;
    z-index: 1;
}

.coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel-image {
    width: 100%;
    height: 140%;
    object-fit: cover;
    position: relative;
}

.carusel-item {

    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;

    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-control-next-icon {
    background-image: none
}

.carousel-control-prev-icon {
    background-image: none
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3em;
}

.spinner-text strong {
    font: bold;
}

.spinner-text,
.spinner-border {
    color: black;

}

.spinner-text,
.spinner-border {
    color: #001bff;
}

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 1em;
    --bs-spinner-animation-speed: 5s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: #130cff;
}

.spinner:hover {
    animation-play-state: paused;
}

@media (min-width: 768px) {


    h2 {
        font-size: 100px;

    }
}

@media (min-width: 1024px) {


    .textOverlay {
        left: 50%;

        transform: translate(-50%, -50%);
    }
}